<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Segoe UI';
        color: purple;
        font-size: 50px;
        font-style: normal;
    }

    h2,
    h3 {
        text-align: center;
        font-family: 'Segoe UI';
        color: purple;
        font-style: italic;
        font-size: 50px;
    }

    p {
        text-align: center;
        font-family: verdana;
    }

    div {
        text-align: center;
        font-family: Geneva;
    }

    /* body { background-color: rgb(190, 245, 245);} */
    body {
        position: relative;
    }

    body::after {
        content: "";
        background: url('2927314.jpg');
        background-size: cover;
        opacity: 0.65;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-family: 'Segoe UI';
        color: purple;
        font-style: italic;
        font-size: 50px;
    }

    .signup {
        width: 250px;
        height: 50px;
        background-color: rgb(0, 225, 255);
        color: black;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: hand;
        font-family: verdana;
    }

    .login {
        width: 250px;
        height: 50px;
        background-color: rgb(0, 225, 255);
        color: black;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: hand;
        font-family: verdana;
    }
</style>
</style>

<body>

    <h1>Thank you for registration! You can now login to check our pricing tier and offer availble !! </h1>


    </form>
    </div>
</body>

</html>